* {
	font-family: sans-serif;
	font-weight: 100;
	background-color: #B3D4FF;
}

select {
  padding:0.25em 0.25em;
  font:inherit;
  -webkit-appearance:none;
}

#city {
	display: inline-block;
}

.selector {
	width: 50%;
	display: inline-block;
	font-size: 1em;
}

#dt {
	font-size: 1em;
}

.amPm {
	display: inline-block;
	font-weight: 500;
}

.bigs{
	margin-top: 40px;
	width: 100%;
	display: inline-block;
}

.description {
	color: white;
	font-size: 7em;
	font-weight: 500;
	width: 20%;
	text-align: center;
	margin-top: 30px;
	margin-left: 30%;
	display: inline-block;
}

#temp {
	color: white;
	font-size: 8em;
	font-weight: 500;
	width: 20%;
	text-align: center;
	vertical-align: top;
	display: inline-block;
}

#sky {
	color: white;
	text-align: center;
	font-size: 5em;
	letter-spacing: 5px;
}

#wind {
	color: white;
	text-align: center;
	font-size: 2em;
	margin-top: 15px;
}

#minMaxTemps {
	width: 100%;
	height: 150px;
	margin-top: 50px;
	display: inline-block;
}

#tempMin{
	width: 49.75%;
	height: 150px;
	display: inline-block;
	background-color: blue;
	opacity: .1;
	z-index: 1;
}

#tempMax{
	width: 49.75%;
	height: 150px;
	display: inline-block;
	background-color: orange;
	margin-left: -.5%;
	opacity: .1;
	z-index: 1;
}





